<form action="/dashboard/addstation" method="POST">
  <div class="field is-horizontal is-fullwidth">
    <div class="field">
        <label class="label">Station Name</label>
        <input class="input" type="text" placeholder="Name" name="city">
    </div>
        <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="double" placeholder="00.00" name="latitude">
    </div>
        <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="double" placeholder="00.00" name="longitude">
    </div>
    </div>
    <button class="button is-link">Add Station</button>
</form>
