<nav class="navbar mb-6">
  <div class="navbar-brand">
    {{> brand}}
    <span class="navbar-burger has-background-info" data-target="navbarMenu" aria-expanded="false">
      <span aria-hidden="true"></span>
    </span>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" id="login" href="/login"> Log in </a>
          <a class="button" id="signup" href="/signup"> Sign up </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{{> navbar}}