<!DOCTYPE html>
<html lang="en-IE" class="theme-light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script>console.log(dayjs().format('YYYY-MM-DDTHH:mm:ss'));</script>
  <script>dayjs().format()</script>
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>