{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather Top
  </h3>
<div class="is-flex is-justify-content-center is-align-items-center" style="height: 128px;">
  <figure class="image is-128x128">
    <img src="/images/weather.jpg" alt="Weather Image">
  </figure>
  </div>
  <div class="section">
    <p>
      A Weather Application for multiple Stations - Version 1.3
    </p>
  </div>
  <footer>
    <p>This Page was created by a Student for SETU - South East Technological University in 2025.</p>
  </footer>
</section>