{{> menu active="account"}}

<section class="section">
    <div class="columns">

        <div class="column">
            <div class="box is-2">
                <figure class="image p-5">
                    <img src="/images/weather.jpg" alt="Weather Image">
                </figure>
            </div>
        </div>

        <div class="column">
            <div class="box is-2">
                <h1 class="title">Edit User Details</h1>
                <div class="field is-horizontal">
                    <div class="field-body">
                        {{>edit-user}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>