{{> menu active="dashboard"}}

<header class="box is-3 has-text-centered">
    <div>
        <p>Please use this Application carefully</p>
        <p>You can enter different Weather Stations and the Website will store and list your Stations</p>
    </div>
</header>
<section class="section">
    {{> list-stations}}
    {{> add-station}}
</section>
